body{
    text-align: center;
    margin: 0;
    background:  #32B482;
    color: white;
}
.welcome{
    margin: 50px 0;
    font-size: 50px;
}
.form {
    margin: 100px 0;
}
form {
    width: 50%; 
    margin: 0  auto;
}
form input   {
    width: 300px;
    margin: 20px 0;
    padding: 15px 0;    
    border:0;
    border-radius: 20px;
    outline: 0;
    padding-left: 40px;
}
form  i{
    font-size: 30px;
    position: relative;
    left: 30px;
    color: grey;
}

/* Validate */
.validate ul{
    padding: 0px;
}
.validate ul li{
    color: rgb(230, 66, 66);
    font-weight: bold;
    font-size: 20px;
}
.validate{
    text-align: center;
}

@media (max-width:747px){
    form {
        width: 50%; 
        margin: 0  auto;
    }
    form  input{
        width: 300px;
        margin: 20px 0;
        padding: 15px 0;    
        border:0;
        border-radius: 20px;
        outline: 0;
        padding-left: 40px;
    }
    form  i{
        font-size: 30px;
        position: relative;
        left: 30px;
        color: grey;
    }
}
@media  (max-width:612px){
    form {
        width: 50%; 
        margin: 0  auto;
    }
    form  input{
        width: 200px;
        margin: 20px 0;
        padding: 15px 0;    
        border:0;
        border-radius: 20px;
        outline: 0;
        padding-left: 40px;
    }
    form  i{
        font-size: 30px;
        position: relative;
        left: 30px;
        color: grey;
    }
}
@media (max-width:622px){
    form {
        width: 100%; 
        margin: 0  auto;
    }
    form  input{
        width: 200px;
        margin: 20px 0;
        padding: 15px 0;    
        border:0;
        border-radius: 20px;
        outline: 0;
        padding-left: 40px;
    }
    form  i{
        font-size: 30px;
        position: relative;
        left: 30px;
        color: grey;
    }
}
@media (max-width:429px){
    form {
        width: 100%; 
        margin: 0  auto;
    }
    form  input{
        width: 300px;
        margin: 20px 0;
        padding: 15px 0;    
        border:0;
        border-radius: 20px;
        outline: 0;
        padding-left: 40px;
    }
    form  i{
        font-size: 30px;
        position: relative;
        left: 30px;
        color: grey;
    }
}
.forgot{
    margin-top: 50px;
}
.forgot a{
    color: white;
    text-decoration: underline;
}